<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>KNOSSOS Segmentation Challenge</title>
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if submission %}
        <a href="{{ submission.challenge_file.url }}">{{ submission.challenge_file.name }}</a>
    {% else %}
        <p>No submission.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{{ action }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Your name: {{form.challenger_name}}</p>
            <p>Your email address: {{form.mail_address}}</p>
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.challenge_file.label }} {{ form.challenge_file.help_text }}</p>
            <p>
                {{ form.challenge_file.errors }}
                {{ form.challenge_file }}
            </p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </body>
</html> 