<header id="header" class="skel-layers-fixed">
                <h1><a href="#">Baseline</a></h1>
                <nav id="nav">
                    <ul>
                        <li><a href="#top">Top</a></li>
                        <li><a href="#content">Content</a></li>
                        <li><a href="#elements">Elements</a></li>
                        <li><a href="#grid">Grid System</a></li>
                        <li><a href="http://getskel.com" class="button special">Download</a></li>
                    </ul>
                </nav>
            </header>