.button.mpi {
  width: 5em;
  height: 5em;
  line-height: 4.5em;
  padding: 0;
  background-image: url('images/MPI.svg');
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -10em;
  overflow: hidden;
}