.button--mpi {
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  width: 5em;
  height: 5em;
  background-image: url('images/MPI.svg');
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -10em;
  overflow: hidden;
}