#banner {
  z-index: 2;
  // position: relative;
  // height: 100%;
  // min-height: 100%;
  // overflow: hidden;
}

#banner__left {
  display: table;
  width: 50%;
  height: 100%;
  text-align: center;
}

.banner__left--inside {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding-right: 50px;
}

.is-loading #banner__right {
  @include transition(all 0 ease);
}

#banner__right {
   @include transition(all .6s ease);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  max-width: 50%;
  max-height: 100%;
  background: #212121;
  background: rgba(27,27,27,0.75);
  color: #fff;
  padding: 1.5em 0;

  h2 {
    display: inline-block;
    margin: 0;
    //font-size: 1.25em;
    font-size: 2.25em;
    vertical-align: middle;

    em {
      opacity: 0.75;
    }

    a {
      border-bottom-color: transparentize(#fff, 0.5);

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  .button {
    vertical-align: middle;
    margin-left: 1em;
  }

  &.hidden {
    @include transition-delay(.3s);
    @include transition-duration(1s);
    left: 100%;
    margin-left: 0;
  }
}



.sideskew {
  @include transform(skew(0, 45deg));
  @include transition(all .6s ease);
  position: absolute;
  margin-top: -30px;
  top: 0;
  height: 50%;
  width: 60px;
  left: -60px;
  background: #212121;
  background: rgba(27,27,27,0.75);
}



#banner__right.hidden .sideskew {
  @include transform(skew(0, 90deg));
  z-index: -1;
  left: 0;
}

#banner__right .bottom-skew {
  @include transform(skew(0, -45deg));
  bottom: 0;
  top: auto;
  margin-bottom: -30px;
}
#banner__right.hidden .sideskew.bottom-skew {
  @include transform(skew(0, -90deg));
}




#menu_show {
  margin-top: -10px;
  position: absolute;
  width: 20px;
  height: 20px;
  left: -60px;
  top: 50%;
  z-index: 1;
}

#menu_show span {
  @include transition(all .4s ease);
  position: relative;
  margin-bottom: 3px;
  margin-right: 3px;
  display: block;
  float: left;
  width: 7px;
  height: 7px;
  background: #fff;
  vertical-align: top;
}

#menu_show.active span {
  @include transform(rotate(45deg));
}

#menu_show span.sq_1:after {
  @include transition(opacity .3s);
  width: 9px;
  height: 7px;
  top: 0;
  opacity: 0;
  right: -8px;
  position: absolute;
  display: block;
  content: "";
  background: #fff;
}

#menu_show.active span.sq_1:after {
  @include transition-delay(.2s);
  opacity: 1;
}




#banner__outside {
  @include transition(all ease-in-out .8s);
  position: fixed;
  right: 0;
  left: 100%;
  width: 50%;
  top: 0;
  bottom: 0;
  background: #2d2e30;
  text-align: left;
  font-size: 80%;
  color: white;
}

#banner__outside.visible {
  @include transition-delay(1s);
  margin-left: 60px;
  left: 50%;
}

// #banner__outside .inside {
//   margin: 80px 60px 0 60px;
//   height: 100%;
// }

#banner__outside #nav--sub {
  text-align: center;

  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}

#contact {
  display: none;
}

.part-content {
  margin: 2em 90px 2em 2em;
  position: absolute;
  max-height: 100%;
  overflow: hidden;
  line-height: 1.5em;
}


#background-slideshow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#background-slideshow:after {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  background: rgba(0, 0, 0, .4);
}

#background-slideshow .slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-size: cover;
}



.anims {
  @include transition(all ease .8s);
  opacity: 0;
}
.anims.visible {
  opacity: 1;
}


#gallery--video {
  width: 80%;
  margin: 2em auto;
}