

html, body, #skel-layers-wrapper {
  height: 100%;
}


body {
  height: 100%;
  padding: 0;
  position: relative;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  background: url(../images/wall-vines.jpg) 0 0 no-repeat fixed;
  font-size: 16px;
  line-height: 20px;
  background-size: cover;
  min-height: 530px;
}

#primary {
  z-index: 2;
  position: relative;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}


#cover--left {
  // left: 0;
  // right: 50%;
  // position: absolute;
  // top: 50%;
  // text-align: center;
  // padding-right: 2em;
  // font-size: 150%;

  display: table;
  border: 1px solid blue;
  height: 100%;
  text-align: center;
  width: 50%;

  h1, strong {
    color: white;
  }

  #footer--left {
    position: absolute;
    bottom: 15%;
  }
}


#cover--right {
  @include transition(all .6s ease);
  z-index: 20;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  max-width: 50%;
  max-height: 100%;
  margin-left: 60px;
  background: #ecf0f1;
  padding: 100px 100px 100px 30px;
}

#cover--right.hidden {
  @include transition-delay(.3s);
  @include transition-duration(1s);
  left: 100%;
  margin-left: 0;
}

#cover--right .sideskew {
  @include transform(skew(0, 45deg));
  @include transition(all .6s ease);
  position: absolute;
  margin-top: -30px;
  top: 0;
  height: 50%;
  width: 60px;
  left: -60px;
  background: #ecf0f1;
}


#cover--right .inside {
  display: table;
  height: 100%;
  width: 100%;
}

.inside--cell {
  display: table-cell;
  vertical-align: middle;
}


#cover--right.hidden .sideskew {
  @include transform(skew(0, 90deg));
  z-index: -1;
  left: 0;

}
#cover--right .bottom-skew {
  @include transform(skew(0, -45deg));
  bottom: 0;
  top: auto;
  margin-bottom: -30px;

}
#cover--right.hidden .sideskew.bottom-skew {
  @include transform(skew(0, -90deg));
}


#menu_show {
  margin-top: -10px;
  position: absolute;
  width: 20px;
  height: 20px;
  left: -60px;
  top: 50%;
}

#menu_show span {
  @include transition(all .4s ease);
  position: relative;
  margin-bottom: 3px;
  margin-right: 3px;
  display: block;
  float: left;
  width: 7px;
  height: 7px;
  background: #fff;
  vertical-align: top;
}

#menu_show.active span {
  @include transform(rotate(45deg));
}

#menu_show span.sq_1:after {
  @include transition(opacity .3s);
  width: 9px;
  height: 7px;
  top: 0;
  opacity: 0;
  right: -8px;
  position: absolute;
  display: block;
  content: "";
  background: #fff;
}

#menu_show.active span.sq_1:after {
  @include transition-delay(.2s);
  opacity: 1;
}

#content {
  @include transition(all ease-in-out .8s);
  position: fixed;
  right: 0;
  left: 100%;
  width: 50%;
  top: 0;
  bottom: 0;
  background: #2d2e30;
}

#content.visible {
  @include transition-delay(1s);
  margin-left: 60px;
  left: 50%;
}

#content .inside {
  padding: 80px 60px 0 0;
  height: 100%;
}

#content #nav {
  text-align: center;

  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}

#contact {
  display: none;
}


.part-content {
  margin: 2em 90px 2em 2em;
  position: absolute;
  max-height: 100%;
  overflow: hidden;
}


#background-slideshow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#background-slideshow:after {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  background: rgba(0, 0, 0, .4);
}

#background-slideshow .slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-size: cover;
}



.anims {
  @include transition(all ease .8s);
  opacity: 0;
}
.anims.visible {
  opacity: 1;
}

