<section id="ranking">
    <header class="major">
        <h2>Current Ranking</h2>
    </header>

    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>

                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>